
@{
    ViewData["Title"] = "Contact";
}

<!--=================================
 Inner Header -->
<section class="inner-header">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/Index"><i class="fas fa-home me-1"></i>Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa-solid fa-chevron-right me-2"></i><span>Contact us</span></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--=================================
Inner Header -->
<!--=================================
Blog -->
<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="contact-info">
                    <div class="section-title">
                        <h2 class="title mb-0"><i class="fa-solid fa-bolt-lightning"></i>Contact Us</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="map-info">
                                <div class="map">
                                </div>
                                <p>
                                    We value your feedback, inquiries, and contributions to Straighten Immigration News. Whether you have a question, a story idea, or simply want to reach out to our team, we're here to listen and assist you.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-4 mb-sm-0">
                            <div class="map-info">
                                <div class="map">
                                    <div class="blog-image"> <img class="img-fluid" src="~/images/about/04.jpg" alt=""> </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0">
                <div class="form-info bg-light">
                    <h3>Need assistance? please fill the form</h3>
                    <form class="mt-4">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="exampleInputEmail" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Phone Number">
                        </div>
                        <div class="mb-4">
                            <textarea class="form-control" id="exampleInputEnquiry-Description" placeholder="Please describe what you need" rows="7"></textarea>
                        </div>
                        <div class="mb-0">
                            <button type="submit" class="btn btn-primary">Send Your Massage</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="contact-chat h-100">
                    <h5 class="text-white">General Inquiries</h5>
                    <p class="mb-0 text-white" style="text-align:justify;">
                        For general inquiries, partnership opportunities, or press inquiries, please email us at contact@straightengroup.com. We strive to respond to all inquiries promptly.
                    </p>
                    <div class="mb-0">
                        <button type="submit" class="btn btn-primary">Start Inquiry</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="contact-online h-100">
                    <h5 class="text-white">Submit a Story</h5>
                    <p class="mb-0 text-white">
                        Have a news tip or a compelling immigration-related story to share? We welcome submissions from journalists, experts, and individuals with unique perspectives. Please send your story pitches or contributions to news@straightengroup.com.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-us h-100">
                    <h5>
                        Advertising and Sponsorship
                    </h5>
                    <p class="mb-0">
                        Interested in advertising your immigration-related services or sponsoring content on our platform? Reach out to our advertising team at advertising@straightengroup.com for partnership opportunities and inquiries.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Blog --> 

