@model Straighten.Models.News


@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <section class="news-latest-posts">
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-post post-style-01">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/sample/banner/02.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-primary">Immigration Programs</span>
                        <h4 class="blog-title">
                            <a href="#">
                                Ottawa, May 2, 2024 —To strengthen Canada’s immigration
                                system, Immigration, Refugees and Citizenship Canada
                                (IRCC) is improving the online processing times tool to
                                help new clients predict how long it will take to
                                process a complete application
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-lg-4 mb-0">
                    <div class="col-lg-12">
                        <div class="blog-post post-style-01">
                            <div class="blog-image">
                                <img class="img-fluid" src="~/images/sample/banner/02.jpg" alt="" />
                            </div>
                            <div class="blog-post-details">
                                <span class="badge badge-large bg-primary">Immigration Programs</span>
                                <h4 class="blog-title">
                                    <a href="#">
                                        Ottawa, May 2, 2024 —To strengthen Canada’s immigration
                                        system, Immigration, Refugees and Citizenship Canada
                                        (IRCC) is improving the online processing times tool to
                                        help new clients predict how long it will take to
                                        process a complete application
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form method="post">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div>
                            <label for="CompanyName">Company Name:</label>
                            <input type="text" name="CompanyName" value="" />
                        </div>
                        <div>
                            <label for="ContactName">Contact Name:</label>
                            <input type="text" name="ContactName" value="" />
                        </div>
                        <div>
                            <label for="Employees">Employee Count:</label>
                            <input type="text" name="Employees" value="" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-3">
                <form method="post">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div>
                            <label for="CompanyName">Company Name:</label>
                            <input type="text" name="CompanyName" value="" />
                        </div>
                        <div>
                            <label for="ContactName">Contact Name:</label>
                            <input type="text" name="ContactName" value="" />
                        </div>
                        <div>
                            <label for="Employees">Employee Count:</label>
                            <input type="text" name="Employees" value="" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-3">
                <form method="post">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div>
                            <label for="CompanyName">Company Name:</label>
                            <input type="text" name="CompanyName" value="" />
                        </div>
                        <div>
                            <label for="ContactName">Contact Name:</label>
                            <input type="text" name="ContactName" value="" />
                        </div>
                        <div>
                            <label for="Employees">Employee Count:</label>
                            <input type="text" name="Employees" value="" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-3">
                <form method="post">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div>
                            <label for="CompanyName">Company Name:</label>
                            <input type="text" name="CompanyName" value="" />
                        </div>
                        <div>
                            <label for="ContactName">Contact Name:</label>
                            <input type="text" name="ContactName" value="" />
                        </div>
                        <div>
                            <label for="Employees">Employee Count:</label>
                            <input type="text" name="Employees" value="" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="blog-post post-style-01">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/sample/banner/03.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-purple">Immigration Programs</span>
                        <h4 class="blog-title">
                            <a href="#">A unique place in the world</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="blog-post post-style-01 mb-0">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/sample/banner/04.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-orange">Family sponsorship</span>
                        <h4 class="blog-title">
                            <a href="#">
                                Sponsor your relatives, including your spouse, partner,
                                children, parents, grandparents, and others to
                                immigrate
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="blog-post post-style-01 mb-0">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/sample/banner/04.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-orange">Family sponsorship</span>
                        <h4 class="blog-title">
                            <a href="#">
                                Sponsor your relatives, including your spouse, partner,
                                children, parents, grandparents, and others to
                                immigrate
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="blog-post post-style-01 mb-0">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/sample/banner/04.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-orange">Family sponsorship</span>
                        <h4 class="blog-title">
                            <a href="#">
                                Sponsor your relatives, including your spouse, partner,
                                children, parents, grandparents, and others to
                                immigrate
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form method="post">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div>
                            <label for="CompanyName">Company Name:</label>
                            <input type="text" name="CompanyName" value="" />
                        </div>
                        <div>
                            <label for="ContactName">Contact Name:</label>
                            <input type="text" name="ContactName" value="" />
                        </div>
                        <div>
                            <label for="Employees">Employee Count:</label>
                            <input type="text" name="Employees" value="" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-3">
                <form method="post">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div>
                            <label for="CompanyName">Company Name:</label>
                            <input type="text" name="CompanyName" value="" />
                        </div>
                        <div>
                            <label for="ContactName">Contact Name:</label>
                            <input type="text" name="ContactName" value="" />
                        </div>
                        <div>
                            <label for="Employees">Employee Count:</label>
                            <input type="text" name="Employees" value="" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-3">
                <form method="post">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div>
                            <label for="CompanyName">Company Name:</label>
                            <input type="text" name="CompanyName" value="" />
                        </div>
                        <div>
                            <label for="ContactName">Contact Name:</label>
                            <input type="text" name="ContactName" value="" />
                        </div>
                        <div>
                            <label for="Employees">Employee Count:</label>
                            <input type="text" name="Employees" value="" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-3">
                <form method="post">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div>
                            <label for="CompanyName">Company Name:</label>
                            <input type="text" name="CompanyName" value="" />
                        </div>
                        <div>
                            <label for="ContactName">Contact Name:</label>
                            <input type="text" name="ContactName" value="" />
                        </div>
                        <div>
                            <label for="Employees">Employee Count:</label>
                            <input type="text" name="Employees" value="" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="submit" value="Submit" class="submit" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</div>
