@model Straighten.Models.News


@{
    ViewData["Title"] = "Index";
}


<section class="news-latest-posts">
    <div class="container">
        <div class="row" style="border-width: 2px 2px 0px 2px; border-style: dashed; border-color:red; border-radius: 5px; padding:5px;">
            <div class="col-lg-6">
                <div class="blog-post post-style-01">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/banner/02.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-primary">Immigration Programs</span>
                        <h4 class="blog-title">
                            <a href="#">
                                Ottawa, May 2, 2024 —To strengthen Canada’s immigration
                                system, Immigration, Refugees and Citizenship Canada
                                (IRCC) is improving the online processing times tool to
                                help new clients predict how long it will take to
                                process a complete application
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post post-style-01">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/banner/02.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-primary">Immigration Programs</span>
                        <h4 class="blog-title">
                            <a href="#">
                                Ottawa, May 2, 2024 —To strengthen Canada’s immigration
                                system, Immigration, Refugees and Citizenship Canada
                                (IRCC) is improving the online processing times tool to
                                help new clients predict how long it will take to
                                process a complete application
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border-width: 0px 2px 2px 2px; border-style: dashed; border-color:red; border-radius: 5px; padding:5px;">
            <div class="col-md-6">
                <form method="post" class="form-control">
                    <fieldset>
                        <legend>Article 1 - Home</legend>
                        <div class="row">
                            <div class"col-md-6">
                                <label for="TagName">Tag Name:</label>
                            </div>
                            <div class"col-md-6">
                                <input type="text" name="TagName" value="" />

                            </div>
                        </div>
                        <div class="row">
                            <div class"col-md-6">
                                <label for="Heading">News Heading</label>
                            </div>
                            <div class"col-md-6">
                                <input type="text" name="Heading" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <label for="Browse">Browse Image</label>
                            <input type="file" for="Photo" accept="image/*" />
                            <label>&nbsp;</label>
                            <button class="btn-success" type="button">Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6">
                <form method="post" class="form-control">
                    <fieldset>
                        <legend>Article 2 - Home</legend>
                        <div class="row">
                            <div class"col-md-6">
                                <label for="TagName">Tag Name:</label>
                            </div>
                            <div class"col-md-6">
                                <input type="text" name="TagName" value="" />

                            </div>
                        </div>
                        <div class="row">
                            <div class"col-md-6">
                                <label for="Heading">News Heading</label>
                            </div>
                            <div class"col-md-6">
                                <input type="text" name="Heading" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <label for="Browse">Browse Image</label>
                            <input type="file" for="Photo" accept="image/*" />
                            <label>&nbsp;</label>
                            <button class="btn-success" type="button">Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-6 p-3">
                <div class="blog-post" style="text-align:justify;  height: 250px; word-wrap: break-word; overflow: hidden; border: 1px dotted red; border-radius: 5px; padding:2px;">
                    <p>
                        Sponsor your relatives, including your spouse, partner,
                        children, parents, grandparents, and others to
                        immigrate  Immigrate by graduating from a school or working in New
                        Brunswick, Prince Edward Island, Nova Scotia, or
                        Newfoundland and Labrador  Immigrate by graduating from a school or working in New
                        Brunswick, Prince Edward Island, Nova Scotia, or
                        Newfoundland and Labrador Sponsor your relatives, including your spouse, partner,
                        children, parents, grandparents, and others to
                        immigrate  Immigrate by graduating from a school or working in New
                        Brunswick, Prince Edward Island, Nova Scotia, or
                        Newfoundland and Labrador  Immigrate by graduating from a school or working in New
                        Brunswick, Prince Edward Island, Nova Scotia, or
                        Newfoundland and Labrador Sponsor your relatives, including your spouse, partner,
                        children, parents, grandparents, and others to
                        immigrate  Immigrate by graduating from a school or working in New
                        Brunswick, Prince Edward Island, Nova Scotia.
                    </p>
                    </h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="blog-post post-style-01 mb-0">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/banner/04.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-primary">Family sponsorship</span>
                        <h4 class="blog-title">
                            <a href="#">
                                Sponsor your relatives, including your spouse, partner,
                                children, parents, grandparents, and others to
                                immigrate
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="blog-post post-style-01 mb-0">
                    <div class="blog-image">
                        <img class="img-fluid" src="~/images/banner/04.jpg" alt="" />
                    </div>
                    <div class="blog-post-details">
                        <span class="badge badge-large bg-primary">Family sponsorship</span>
                        <h4 class="blog-title">
                            <a href="#">
                                Sponsor your relatives, including your spouse, partner,
                                children, parents, grandparents, and others to
                                immigrate
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

